<style>
    .nav-item a{
        color: black;
        font-weight: bold;
    }
</style>

<div class="container bg-light" style="height: 100vh;">
   
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/topselling">ADD TOP SELLING</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewtopselling">VIEW-TOP-SELLING</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/col-4products">ADD COL-4 PRODUCTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewcol-4products">VIEW COL-4 PRODUCTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/kids-product">KIDS-PRODUCTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/view-kids-product">VIEW-KIDS-PRODUCTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewsignup">View Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewcontact">View Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/datatable">View Datatable</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup"> Signup</a>
        </li>
    </ul>
</div>