<%- include('./header.ejs')%>




 <div class="container-fluid">
    <div class="row">

    
        <div class="col-sm-12 col-md-3 col-lg-2 p-0">
            <%- include('./leftdb.ejs')%>
        </div>

        <div class="col-sm-12 col-md-9 col-lg-10 " style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
            

              <div class="container-fluid" style="margin-top:-190px ;">
                <h1 class="text-center">Products Details</h1>
                <form action="/topselling" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="text" name="productname" class="form-control" id="productName" placeholder="Enter product name">
                    </div>
                    <div class="form-group">
                        <label for="productDescription">Product Description</label>
                        <input type="text" class="form-control" name="productdescription" id="productDescription" rows="4" placeholder="Enter product description"></input>
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Price</label>
                        <input type="text" name="price" class="form-control" id="productPrice" placeholder="Enter product price">
                    </div>
                    <div class="form-group">
                        <label for="productDiscount">Discount</label>
                        <input type="text" name="discount" class="form-control" id="productdiscount" placeholder="Enter product discount">
                    </div>
                    <div class="form-group mt-3">
                        <label for="productImage">Image</label>
                        <input type="file" class="form-control-file" name="image" id="productImage">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
            
        </div> 

        

   </div>
</div>
